.navbar-armando {
  justify-content: space-between;

}

.navbar-armando .navbar-collapse {
  flex-grow: 0;
}

.navbar- .navbar-brand img {
  height: 40px;
  width: auto;
}

.navbar-brad a {
  padding: 0 !important;
  margin: 0 !important;
}

.letter_title {
  color:#d44a1e;

}
