.navbar-armando {
  justify-content: space-between;
  background:#CD5C5C;
}

.navbar-armando .navbar-collapse {
  flex-grow: 0;
}

.navbar- .navbar-brand img {
  height: 40px;
  width: auto;
}

.navbar-brad a {
  padding: 0 !important;
  margin: 0 !important;
}

.nav-link {
  font-size: 20px;
  color: rgb(48, 21, 203);
  font: italic small-caps bold 16px/2 cursive;
}
