.navbar-armando {
  justify-content: space-between;
}

.navbar-armando .navbar-collapse {
  flex-grow: 0;
}

.navbar- .navbar-brand img {
  height: 40px;
  width: auto;
}

.navbar-brad a {
  padding: 0 !important;
  margin: 0 !important;
}

.card-min-height {
  background: $soft-yellow;
  min-height: 250px;
}

.home-card {
  font-family: 'Bree Serif';
}
