
.form-login {
  background: #F6F0FF;
  padding: 10px 20px;
  margin-bottom: 16px;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  color: black;
}

.login {
border-radius: 50%;
margin: 20px;
  }

.links {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.links > a {
  margin-left: 10px;
  margin-right: 10px;
}

.custom-borders {
  border-radius: 15px 0px 0px 15px !important;
  font-size: 1.2rem !important;
  color: #d44a1e !important;
}

::placeholder {
  color: #d44a1e !important;
}

.nav-search-button {
  border-radius: 0px 15px 15px 0px !important;
}

.height-40 {
  height: 40px;
}

ul.list-group {
  border-radius: 18px;
}
