.card-body-friends {
  padding: 20px;
  flex: 1 1 auto;
  display: block;
  background-color:#FDEED9;
  color: #d44a1e;
  text-align: center!important;
  font-size: 17px;
  font-weight: bold;
  font-family: "Nunito", "Helvetica", "sans-serif";
  height: 350px;
  width: 350px;

}
