// Specific CSS for your home-page
.title {
  font-weight: bold;
  font-size: 50px;
  margin-bottom: 20px;
  color: #d44a1e;
  background-image: url('https://img.freepik.com/vecteurs-libre/vecteur-cadre-arc-ciel-mignon-dans-style-dessine-main-mignon-fond-beige_53876-126112.jpg?w=826&t=st=1686222476~exp=~hmac=f75ec07201833d8f6b37d5ce1a212578b71efcd5ba6e8bfb55ca5165a216f761');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120vh;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.title-ban{
background-color: #f9f6f1;
margin-bottom: 5px;
border-radius: 10px;
padding: 20px;
}

.benefit {
  background-color: #fff3c9;
  color:#d44a1e ;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
  border: 5px solid #d44a1e;
}

.cardhome{
  box-shadow: 0 7px 29px 0 hsla(240,5%,41%,.2);
  height: 70%;
  text-decoration: none;
  border: none;
  background-clip: border-box;
  background-color: #fff3c9;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  text-align: center!important;
  font-size: 17px;
  font-weight: 500;
  font-family: Indie Flower;
  margin:20px;
  border-radius: 20px;

}

.card-body {
  padding: 20px;
  flex: 1 1 auto;
  display: block;
  color: #d44a1e;
  text-align: center!important;
  font-size: 17px;
  font-weight: bold;
  font-family: Indie Flower  ;
  height: 150px;
  border-radius: 20px;
}

.card-body img{
  margin-bottom: 15px;
}

.card-footer {
  border-top: none;
  padding: 15px;
  text-align: center;
  border-radius: 20px;
  color: #f9f6f1!important;
  background-color:#d44a1e!important;
  display: block;
  font-family: Indie Flower;
  font-weight: bold;
}



.all {
  background-color: #f9f6f1;
}
