.letter_card {
  padding: 15px;
  font-family: "Nunito", "Helvetica", "sans-serif";
  font-size: 20px;
  color: #FF7F50;
}

.letter_title {
  color: #c44d56;
}

.list-group {
  padding-right: 0;
  border-radius: 7px;
  text-align: left;
}

.list-group-item {
  font-family: "Nunito", "Helvetica", "sans-serif";
  font-weight: 700;
  font-size: 23px;
  color: #FF7F50 !important;
}

input#letter_photo{
  color: #FF7F50;
}

.far {
  font-size: 26px;
}

.fa-trash-alt {
  color: #c44d56;
}
