.super-title {
  font-size: 1.25em;
  font-weight: bolder;
  color: $primary;

  .underline {
    position: relative;
    white-space: nowrap;
    &:after {
      --deco-height: 0.3125em;
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: calc(var(--deco-height) * -0.625);
      height: var(--deco-height);
      background-image: url("data:image/svg+xml,%3Csvg width='100' height='64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath d='M-17 30.5C-1 22 72-4 54 13 37.9 28.2-2.5 57.5 16 55.5s72-29 104-40' stroke='%2311689b' stroke-width='10'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h100v64H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
      background-size: auto 100%;
      background-repeat: round;
      background-position: 0em;
    }
  }
}

.super-lead {
  color: $brand-secondary;
  text-shadow: 1px 1px white;
}

.letter_card {
  padding: 15px;
  font-family: 'Nunito', 'Helvetica', 'sans-serif';
  font-size: 20px;
  color: #ff7f50;
  background-color: #fff3e1;
}

.letter-bg {
  background-color: #fff3e1 !important;
}

.letter_title {
  color: $brand-color;
  font-weight: bold;
  font-size: 3.5em;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
    180deg,
    $brand-color 55%,
    lighten($brand-color, 10%) 55%,
    lighten($brand-color, 10%) 100%
  );
}

.list-group {
  padding-right: 0;
  border-radius: 7px;
  text-align: left;
}

.list-group-item {
  font-family: 'Nunito', 'Helvetica', 'sans-serif';
  font-weight: 700;
  font-size: 23px;
  color: #ff7f50 !important;
}

input#letter_photo {
  color: #ff7f50;
}

.far {
  font-size: 26px;
}

.fa-trash-alt {
  color: #c44d56;
}
