.letter_card {
  padding: 15px;
  font-family: 'Nunito', 'Helvetica', 'sans-serif';
  font-size: 20px;
  color: #ff7f50;
  background-color: #fff3e1;
}

.letter-bg {
  background-color: #fff3e1 !important;
}

.letter_title {
  color: $brand-color;
  font-weight: bold;
  font-size: 3.5em;
}

.list-group {
  padding-right: 0;
  border-radius: 7px;
  text-align: left;
}

.list-group-item {
  font-family: 'Nunito', 'Helvetica', 'sans-serif';
  font-weight: 700;
  font-size: 23px;
  color: #ff7f50 !important;
}

input#letter_photo {
  color: #ff7f50;
}

.far {
  font-size: 26px;
}

.fa-trash-alt {
  color: #c44d56;
}
