<div class="container">
  <% if @users.present? %>
    <h1 class="letter_title text-center py-5">The friend you're looking for</h1>

    <div class="row justify-content-center">
      <% @users.each do |user| %>
        <div class="col-4">
          <%= link_to user_path(user), class: "text-decoration-none" do %>
            <div class="yellow-box mb-5 mx-2 card-animated p-4 no-bg shadow text-center rounded-4">
              <%= user_avatar(user, width: 230) %>
              <h3 class="pt-3">
                <%= user.user_name %>
              </h3>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  <%else%>
    <h1 class="letter_title text-center pt-5">Sorry, this username does not exist. </h1>
  <% end %>

  <div class="text-center">
    <%= link_to :back, class: "btn-main" do %>
      <i class="fa-solid fa-reply me-2"></i> Back to the dashboard
    <% end %>
  </div>
</div>
