<div class="title">
<h1>Welcome on the Armando App !</h1>
</div>
<div class=tagline>
<h2>Healthy online communication for kids</h2>
</div>

<div class=benefit>
Why learn how to communicate with Armando, the first messaging app designed to enhance the
well-being of children ?
</div>

<div class=benefit_card>

<li>Armando deliver well written letter : you have to take time to write it and pay attention to your spelling.</li>

<li>Armando is a bird a take some time to deliver the letter : be connected when you decide and avoid to be addicted to.</li>Armando is a bird a take some time to deliver the letter : be connected when you decide and avoid to be addicted to.

<li>Armando can keep a secret but is a protector bird : he will give you only letter from your friends</li>
</div>
