<html>
<div class=all>
<div class="title">
<div class=title-ban><h1>Welcome on the Armando App</h1>
<h2 style="color: #DAA520	; font: size 300px;">Healthy online communication for kids</h2>
</div>
<div class=btn-acount>
<%= link_to "Create a acount",new_user_session_path,class:"btn-main" %>
</div>

</div>

<div class="benefit">
Armando, the first messaging app designed to enhance the well-being of children ?
</div>

<div class="container">
<div class="row">

<div class="col-12 col-md-4 mb-5 mb-md-0">
<a class="cardhome">
<div class="card-body">
<p>You have to take time to write it and pay attention to your spelling </p>
</div>
<div class="card-footer">
<span>Armando deliver well written letter</span>
</div>
</a>
</div>

<div class="col-12 col-md-4 mb-5 mb-md-0">
<a class="cardhome">
<div class="card-body">
<p>Be connected when you decide and avoid to be addicted to the social connexion</p>
</div>
<div class="card-footer">
<span>Armando takes some time to deliver the letter</span>
</div>
</a>
</div>

<div class="col-12 col-md-4 mb-5 mb-md-0">
<a class="cardhome">
<div class="card-body">
<p>He will give you only letters from your friends </p>
</div>
<div class="card-footer">
<span>Armando he is a protector bird</span>
</div>
</a>
</div>

</div>
</div>
</div>
