<div class="container">
  <h1 class= "letter_title py-5 text-center">
    When do you like to receive letters ?
  </h1>

  <%= simple_form_for(current_user, html_options: { novalidate: true }) do |f| %>
    <div class="yellow-box shadow rounded-bottom-4 p-5">
      <div class="form_inputs">
        <%= f.input :receiving_day, as: :radio_buttons, label: false, include_hidden: false,
          collection: ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'],
          wrapper_html: { class: "d-flex gap-2 justify-content-center" },
          item_wrapper_class: "text-sm",
          label_html: { class:"col-form-label" },
          input_html: {
            class:"form-text-ssize form-wrapper form-item form-selector",
            style: "display: none;"
          } %>
      </div>

      <div class="row justify-content-center">
        <h1 class="my-4 text-primary text-center">At which time ?</h1>

        <div class="col-3 justify-items-center">
          <div class="form_inputs">
            <%= f.input :receiving_time, as: :time, label: false, input_html: { class: "fs-5" } %>
          </div>
        </div>
      </div>
    </div>

    <div class="text-center form-actions pt-5">
      <button type="submit" class="btn-main">
        Let's go! <i class="fa-solid fa-paper-plane"></i>
      </button>
    </div>
  <% end %>
</div>
