<div class="bg-bisque" style="min-height: 100vh">
  <div class="container-fluid py-5">
    <div class="row justify-content-center">
      <div class="col-md-8 text-center">
        <h1 class="mb-0 letter_title">These are the letters that you sent:</h1>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row align-items-center">
      <% @letters.each do |letter| %>
      <div class="col-12 mb-4">
        <%= link_to letter_path(letter), class: "text-decoration-none" do %>
        <div class="p3 shadow letter_card card-round mx-auto">
          <div>
            <b><%= letter.user.full_name %></b>
          </div>
          <div>
            <%= letter.subject %></p>
          </div>
        </div>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>
