.btn-main{
  background-color: #d44a1e;
  text-align: center;
  padding: 10px 20px;
  border-radius: 50px;
  text-decoration: none;
  display: inline-block;
  font-size: 23px;
  font-family: "Nunito", "Helvetica", "sans-serif";
  border: none;
  margin-right: 13px;
  color:#fff3e1;

}

.btn-main:hover {
  background-color:#fff3e1;
  color: #d44a1e;
  border: #d44a1e;
  border:solid;
}

.btn-secondary{
  background-color:#fff3e1 ;
  text-align: center;
  padding: 10px 20px;
  border-radius: 50px;
  text-decoration: none;
  display: inline-block;
  font-size: 23px;
  font-family: "Nunito", "Helvetica", "sans-serif";
  color:#d44a1e;
  border: none;
  border: 2px solid #d44a1e;
  }

  .btn-secondary:hover {
    background-color:#d44a1e;
    color: #fff3e1;
    border:#fff3e1 ;
    border: solid;
  }

  .btn-ter {
  background-color:#FFFACD;
  text-align: center;
  padding: 2px 8px;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  color:#ff7f50;
  border: none;
  }

.btn-search{
  background-color: #FFE4E1;
  text-align: center;
  padding: 4px 10px;
  border-radius: 10%;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-family: "Nunito", "Helvetica", "sans-serif";
  border: none;
  margin-right: 13px;
  color:#d44a1e;
}

.btn-main-edit{
  background-color: #d44a1e;
  text-align: center;
  padding: 10px;
  border-radius: 50px;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  font-family: "Nunito", "Helvetica", "sans-serif";
  border: none;
  margin: 8px;
  color:#FFE4E1;
}


.btn-main-edit:hover {
  background-color:#fff3e1;
  color: #d44a1e;
  border: #d44a1e;
  border: solid;
}
