.btn-main{
  background-color: #d44a1e;
  text-align: center;
  padding: 10px 20px;
  border-radius: 50px;
  text-decoration: none;
  display: inline-block;
  font-size: 23px;
  font-family: "Nunito", "Helvetica", "sans-serif";
  border: none;
  margin-right: 13px;
  color:#FFE4E1;

}

.btn-main:hover {
  background-color:#f9f6f1 ;
  color:#d44a1e;
}

.btn-secondary{
  background-color:#fff3c9 ;
  text-align: center;
  padding: 10px 20px;
  border-radius: 50px;
  text-decoration: none;
  display: inline-block;
  font-size: 23px;
  font-family: "Nunito", "Helvetica", "sans-serif";
  color:: #d44a1e;
  border: none;
  }

  .btn-secondary:hover {
    background-color:#d44a1e;
    color:#fff3c9;
  }

  .btn-ter {
  background-color:#FFFACD;
  text-align: center;
  padding: 2px 8px;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  color:#ff7f50;
  border: none;
  }

.btn-search{
  background-color: #FFE4E1;
  text-align: center;
  padding: 10px 20px;
  border-radius: 10%;
  text-decoration: none;
  display: inline-block;
  font-size: 23px;
  font-family: "Nunito", "Helvetica", "sans-serif";
  border: none;
  margin-right: 13px;
  color:#d44a1e;
}
