.navbar-lewagon {
  justify-content: space-between;
  background: #d44a1e;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 70px;
  border-radius: 50%;
}

.navbar-lewagon .nav-link {
  color:#fff3c9;
  font-family: monospace, "monaco", sans-serif;
  font-size: large;
  font-style: normal;
}

.avatar {
 border: 3px solid #fff3c9;
}

.nav-link {
  color: #fff3c9 !important;
}
