.navbar-lewagon {
  justify-content: space-between;
  background: #d44a1e;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 45px;
}

.nav-link {
  color: #fff3c9 !important;
}
